@{
    ViewBag.Title = "Startseite";
}

<div class="jumbotron">
    <h1>Liegeplätze Verwaltung</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Liste aller Schiffe</h2>
        <p>@Html.ActionLink("Schiffe", "Index", "Ships")</p>
    </div>
    <div class="col-md-6">
        <h2>Buchungsplan</h2>
        <p>@Html.ActionLink("Buchungen", "Index", "PierBookings")</p>
    </div>
</div>